<h1>All Users</h1>

<div>
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th class="text-right">
                <a class="btn btn-success" 
                    [routerLink]="['/user-signUp']">
                    Sign up
                </a>
            </th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
				<a class="btn btn-warning" 
                    [routerLink]="['/user-view/'+user.id]">
                    View
                </a>
				<a class="btn btn-info" 
                    [routerLink]="['/user-edit/'+user.id]">
                    Edit
                </a>
                <button class="btn btn-danger" (click)="delete(user.id)">
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>