<div [hidden]="!isLogged()" class="top-fixed">
    <ng-progress></ng-progress>
    <md-toolbar color="primary" class="container">
        <button md-button id="logoButton" [routerLink]="['/post-list']">
            <img src="/app/img/logo-menu2.png">
        </button>
        <span class="mat-spacer"></span>
        <button md-button [mdMenuTriggerFor]="menu" id="main-menu-toggle">
        <img src="http://lorempixel.com/36/36/animals"> {{loggedUsername()}}</button>
        
        <b class="caret"></b>
        <md-menu #menu="mdMenu" >
            <button md-menu-item>
                <img src="http://lorempixel.com/36/36/animals"> {{loggedUsername()}}</button>
            <button md-menu-item *ngIf="userIsAdmin()" [routerLink]="['/report-list']">Denúncias</button>
            <button md-menu-item (click)="userPosts()">Perfil</button>
            <button md-menu-item (click)="signOut()">Sair</button>
        </md-menu>
    </md-toolbar>
</div>
<div [hidden]="isLogged()" class="top-fixed"> 
    <md-toolbar color="primary" class="container">

        <button md-button [routerLink]="['/post-list']">
            <img src="/app/img/logo-menu2.png">
        </button>
        <span class="mat-spacer"></span>

        <button type="button" class="btn btn-link" data-toggle="modal" data-backdrop="static" (click)="openModal()"  data-keyboard="false">Login</button>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#signUpModal">Cadastro</button>
        <!-- <button class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-md">Entrar/Cadastro</button>  -->
    </md-toolbar>
</div>

<div class="top-margin"></div>

<div class="container">
    <ng-progress></ng-progress>
    <router-outlet></router-outlet>
</div>

<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel1">Cadastre-se!</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="recipient-name1" class="control-label">Usuario:</label>
                        <input class="form-control" id="recipient-name1" name="username" placeholder="Usuario" [(ngModel)]="user.username" 
                            required />
                        
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control" name="email" placeholder="E-mail" [(ngModel)]="user.email" (blur)='onBlur()' required />
                        <div *ngIf="emailTaken" class="mat-input-error">Você ja possui uma conta vinculada a este e-mail!</div>
                    </div>
                    <div class="form-group" [ngClass]="{'mat-input-invalid':emailTaken}">
                        <label for="message-text1" class="control-label">Senha:</label>
                        <input type="password" class="form-control" id="message-text1" name="senha" placeholder="Senha" [(ngModel)]="user.password"
                            required />
                    </div>
                    <div class="form-group">
                        <label>Tipo de usuario:</label>
                        <select [(ngModel)]="user.permission" name="permission" class="form-control">
                            <option [value]="0" [selected]="!user.permission">Escolha...</option>
                            <option *ngFor="let permission of permissions" [ngValue]="permission">
                                {{permission.name}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="close-signupmodal" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button class="btn btn-primary" [disabled]="emailTaken" (click)="signUp()">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
<ng-template #templateModalSignIn>
    <div class="modal-header">

        <button type="button" class="close pull-right" aria-label="Close" (click)="siginModalService.close()">
            <span aria-hidden="true">&times;</span>
          </button>
        <h4 class="modal-title" id="exampleModalLabel">Entre ja!</h4>
    </div>
    <div class="modal-body">
        <button id="googleSignIn" class="loginBtn loginBtn--google">Google</button>
        <form>
            <div class="form-group">
                <label for="recipient-name" class="control-label">E-mail:</label>
                <input class="form-control" id="recipient-name" name="email" [(ngModel)]="email" placeholder="E-mail" required />

            </div>
            <div class="form-group">
                <label for="message-text" class="control-label">Senha:</label>
                <input type="password" class="form-control" id="message-text" name="password" [(ngModel)]="password" placeholder="Senha"
                    required />

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="siginModalService.close()" type="button" class="btn btn-default" >Fechar</button>
        <button (click)="signIn()" type="button" data-dismiss="modal" class="btn btn-primary">Entrar</button>
    </div>
</ng-template>




