<md-card>
    <md-card-content>
        <md-input-container class="full-width">
            <h4><input mdInput name="title" [(ngModel)]="post.title" placeholder="Qual o seu problema?"></h4>
        </md-input-container>
        <div [hidden]="!post.title">
            <md-input-container class="full-width">
                <textarea mdInput name="content" [(ngModel)]="post.content" placeholder="Descreva o seu problema" rows="4"></textarea>
            </md-input-container>
            <button md-raised-button color="primary" class="full-width" (click)="submit()">Reclamar</button>
        </div>
    </md-card-content>
</md-card>
