<div class="vertical-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-0 col-lg-4 col-lg-offset-4">
        <md-card class="login">
            <md-card-header>
                <img src="/app/img/probex.png" class="margin-auto">
            </md-card-header>
            <md-card-subtitle>
                <h3 class="text-center">Login</h3>
            </md-card-subtitle>
            <md-card-content>
                <div>
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Usuário" [(ngModel)]="username" required>
                    </md-input-container>
                </div>
                <md-input-container class="full-width">
                    <input mdInput type="password" placeholder="Senha" [(ngModel)]="password" required>
                </md-input-container>
            </md-card-content>
            <md-card-actions>
                <div>
                    <button md-button [routerLink]="['/user-signup']" class="full-width">Inscreva-se</button>
                </div>
                <div>
                    <button md-raised-button color="primary" (click)="signIn()" class="full-width">Entrar</button>
                </div>
                <div id="googleBtn">Google</div>
            </md-card-actions>
        </md-card>
    </div>
</div>